<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    
    <header>
        
        <h1 class="has-text-black px-3 py-3 has-text-weight-bold">shopping list</h1>
        <nav class="navbar mt-2">
           <a href="/lists" class="navbar-item is-hoverable pt-1 mr-4">My lists</a>
            <button id="logout" class="box1">logout</button>
             <button id="login" class="box2">login</button>
           <a href="/login">login</a>
           
        </nav>
    </header>



    <main>
        {{{ body }}}
    </main>
   
        <footer class="footer rows pb-2">
      
         
       
      <div class="row-is-full content has-text-centered">
    <p>
      <strong>shopping list </strong> by <a href="https://github.com/Onaysa">Anisa Ali ,Justin Fleming , Alec and Taja</a> | made with <a href="https://bulma.io/">bulma</a> | source code:
      <a href="https://github.com/Onaysa/Project2"><i class="fab fa-github"></i></a> 
       <a href="mailto:anisa.ali.5999385@gmail.com"><i class="far fa-envelope"></i></a>
    </p>
  </div>
    </footer>


  

    {{#if logged_in}}
    <script src="../../js/logout.js"></script>
    {{/if}}
</body>

</html>