<section class="home-section" id="home">
    <div class="home-bg"></div>
    <div class="container">
        <div class="row min-vh-100 align-items-center is-moble">
            <div class="food-img" data-aos="fade-left">
                <div class="img-box is-moble">
                    <img src="./images/color.jpeg" alt="food img" />
                </div>
                <div class="onion">
                    <img src="./images/onions.png" alt="onions" />
                </div>
                <div class="tiny">
                    <img src="./images/tiny orange.png" alt="tiny" />
                </div>
                <div class="bac">
                    <img src="./images/bac.png" alt="bac" />
                </div>
                <div class="home-text">
                    <h1>GET</h1>
                    <h1>FRESH</h1>
                    <h1 class="grocery">Grocery</h1>
                    <p> Enjoy Healthy life </p>
                </div>
            </div>
        </div>
    </div>
</section>

