 <div class="card item">
        <div class="card-content item">
          <div class="content item1">
            {List name}

          


          </div>
          <div class="itemms2">
            Items
            
          </div>
          <div class="costs">
            cost
            
          </div>
          <div class="item-n">
            {item1_name}
            
          </div>
          <div class="item-cost">
            {item1_cost}
            
          </div>
          <div class="item-n2">
            {item2_name}
          </div>
          <div class="item-cost2">
            {item2_cost}
            
          </div>
          <div class="total">
            Total cost
            
          </div>
          <div class="total-cost">
            {total_cost}
            
          </div>
          <div>
            <button type="submit" class="add-new button is-warning">Add new item </button>
           
          </div>
        </div>
      </div>
        
         <script src="../..js/list.js"></script>