

{{#each list.items as |items|}}


<div class="card item">
    <div class="card-content item">
        <div class="content item1">
            <p>{{items.item_name}}</p>
            <p>{{items.item_cost}}</p>
        </div>
    </div>
</div>
{{/each}}
<div class="total">
    Total cost

</div>
<div class="total-cost">
    

</div>
<div>
    <button  class="add-new button is-warning">Add new item </button>

</div>



<script src="../..js/list.js"></script>