
 
         <section class="home-section" id="home">
            <div class="home-bg"></div>
            <div class="container">
                <div class="row min-vh-100 align-items-center">
                </div>
               {{#if logged_in}}
               {{#each lists as | list |}}
                  <div class="card">
                    <div class="card-content">
                      <div class="content">
                       <a href="/list/{{list.id}}"><h3 id="{{list.id}}">{{list.list_name}}</h3></a> 
                        Lorem ipsum leo risus, 
                      </div>
                      <i class='fa fa-trash'></i>
                    </div>
                    
                  </div>
                  {{/each}}
                  {{/if}}
                  <button id="add-list" class="button is-warning">Add new list</button>
            </div>
        </section> 
   
    <script src="../..js/lists.js"></script>