<table class="content-table">

    <thead>
        <tr>
            <th>List name</th>
        </tr>
    </thead>
    <tbody>
        <tr>

            <td>Items</td>
            <td>cost</td>

        </tr>

        {{#each list.items as |items|}}
        <tr>


            <td>{{items.item_name}}</td>
            <td>{{items.item_cost}}</td>
            <td><i class="fa fa-trash"></i></td>


        </tr>
        {{/each}}




    </tbody>
</table>

<div>
    <button class="add-new button is-warning">Add new item </button>

</div>



<script src="../js/list.js"></script>

