<div class="text-black column has-text-centered" style="border-radius: 25px;">
    <div>
        <div class="columns is-mobile is-centered">
            <div class="column is-half">
                <p class="subtitle is-3">Sign up</p>
                <form id="signup-form" class="field ">

                    <div class=" has-text-left">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            </span>
                            <span>First Name</span>
                        </span>
                        <div class="control">
                            <input id="user-firstname" class="input" type="text" placeholder="e.g Alex Smith" />
                        </div>
                    </div>
                    <div class=" has-text-left">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            </span>
                            <span>Last Name</span>
                        </span>
                        <div class="control">
                            <input id="user-lastname" class="input" type="text" placeholder="e.g Alex Smith" />
                        </div>
                    </div>

                    <div class=" has-text-left">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                            </span>
                            <span>Email</span>
                        </span>
                        <div class="control">
                            <input id="user-email" class="input" type="email" placeholder="e.g. alexsmith@gmail.com" />
                        </div>
                    </div>
                    <div class=" has-text-left">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                            </span>
                            <span>Password</span>
                        </span>
                        <div class="control is-centered">
                            <input id="user-password" class="input" type="password" placeholder="******" />
                        </div>
                    </div>
                    <button type="submit" class="button is-danger has-text-centered">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="../js/signup.js"></script>